* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;  
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f5f0;
  height: 100%;
  width: 100vw;
}

.App h1{
  font-size: 26px;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}
span{
  border-bottom: 1px solid;
}
